<hmtl>
{% load staticfiles %}

<head>
	<title>
		{% block title %}This is the homepage{% endblock %}
	</title>
	{% csrf_token %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.6.0/math.min.js"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/result_instance.css' %}">
	<link rel="stylesheet" href="{% static 'css/subanarxiv.css' %}">
	<link rel="stylesheet" href="{% static 'css/message.css' %}">
	<link rel="stylesheet" href="{% static 'css/comment.css' %}">
	<link rel="stylesheet" href="{% static 'css/paper.css' %}">
	<link rel="stylesheet" href="{% static 'css/author.css' %}">
	<link rel="stylesheet" href="{% static 'css/registration.css' %}">

	
	<script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</head>
<body>

	<!-- This bit of the template finds out if the user is already logged in and 
	     sets a global JS variable based on that. It's a kluge, admittedly. -->
	<script type="text/javascript"> 
			{% if not user.is_authenticated %}
				var user = null;
			{% else %}
				var user="{{user.username}}";
			{% endif %}
	</script>

	<!-- The login modal, activated by the login link. -->
	<div class="modal fade" tabindex="-1" id="loginModal" role="dialog">
		<div class="modal-dialog">

	    		<!-- Modal content-->
	    		<div class="modal-content">
	    
	    				<div class="modal-header" style="padding:35px 50px;">
          					<h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
        				</div>
	    
	    				<div class="modal-body"style="padding:40px 50px;">
	    					 <form role="form" id="loginForm">
           						 <div class="form-group">
              						<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              						<input type="text" class="form-control" id="loginUser" placeholder="username">
            					
            					</div>
            					
            					<div class="form-group">
             						 <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              						<input type="text" class="form-control" id="loginPassword" placeholder="Enter password">
           						 </div>
            
            					<div class="checkbox">
              						<label><input type="checkbox" value="" checked>Remember me</label>
           						</div>
             					 <button id = "loginbutton" type = "button" class="btn btn-success btn-block" onclick="loginAttempt()"><span class="glyphicon glyphicon-off" ></span> Login</button>

         						 </form>
        				</div>

	    	
	    				<div class="modal-footer">
		    				<p id="loginErrorMessage" class="hidden"> Invalid username or password, please try again. </p>
		    				<p id="loginServerError" class="hidden"> Failed to contact the server, please try again later. </p>
		    		   		<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        			  <p>Not a member? <a href="/home/register/">Sign Up</a></p>
          			<p>Forgot <a href="#">Password?</a></p>
	    		</div>
			</div>
		</div>
	</div>





	<div id="wrapper">

		<div id = "header">
			<div id = "WebsiteTitle">
					<span> Welcome to the <a id = "homelink" href = "/home/">anarXiv </a>: making research more transparent.</span>
			</div>


			<div id = "userLogin">

				<div class="dropdown">

					{% if user.is_authenticated %}
					  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id = "dropdownbutton"><span class= "glyphicon glyphicon-user"></span><span id="userNameField">{{user.username}}</span> 
		
		
					  <span class="caret"></span></button>
					 	 <ul class="dropdown-menu pull-right" id = "usermenu">
					    <li class = "menuitem"><a href="#"> <span class = "glyphicon glyphicon-user menupic"></span>Profile</a></li>
					    <li class = "menuitem"><a href="#"> <span class = "glyphicon glyphicon-wrench menupic"></span>Settings</a></li>
					     <li role="separator" class="divider"></li>
					    <li class = "menuitem"><a href="#" onclick="logout()"><span class = "glyphicon glyphicon-off menupic"></span>Logout</a></li>
					  </ul>

					{% else %}
						 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id = "dropdownbutton"><span class= "glyphicon glyphicon-user"></span><span id="userNameField">Login</span> 
		
		
						  <span class="caret"></span></button>
					 	 <ul class="dropdown-menu pull-right" id = "usermenu">
					    <li class = "menuitem"><a href="#" data-toggle="modal" data-target="#loginModal"> <span class = "glyphicon glyphicon-user menupic" ></span>Login</a></li>
					    <li class = "menuitem"><a href="/home/register/"> <span class = "glyphicon glyphicon-wrench menupic"></span>Signup</a></li>
					  </ul>

					{% endif %}  

				</div>


			</div>
		</div>




		<div id = "content">
			{% block content %}
			{% endblock %}

			<script type = "text/javascript">
				{% block script %}
				{% endblock %}
			</script>

		</div>


		<div id = "footer">
			This is in no way associated with the <a id = "homelink" href="http://www.arxiv.org">arXiv</a>.
		</div>

	</div>





 


</body>



</body>








