<hmtl>
{% load staticfiles %}

<head>
	<title>
		{% block title %}This is the homepage{% endblock %}
	</title>
	{% csrf_token %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</head>
<body>

	<!-- This bit of the template finds out if the user is already logged in and 
	     sets a global JS variable based on that. It's a kluge, admittedly. -->
	<script type="text/javascript"> 
			{% if not user.is_authenticated %}
				var user = null;
			{% else %}
				var user="{{user.username}}";
			{% endif %}
	</script>

	<!-- The login modal, activated by the login link. -->
	<div class="modal fade" tabindex="-1" id="loginModal" role="dialog">
		<div class="modal-dialog">

	    		<!-- Modal content-->
	    		<div class="modal-content">
	    		<div class="modal-header">
	    			<button type="button" class="close" data-dismiss="modal">&times;</button>
	    			<h4 class="modal-title">Login</h4>
	    		</div>
	    		<div class="modal-body">
	    			<p>Please enter your username and password</p>
	    			<form id="loginForm" action method="#">
	    			<input id="loginUser" type="text" placeholder="username">
	    			<input id="loginPassword" type="password">
	    			</form>
	    		</div>
	    		<div class="modal-footer">
	    			<p id="loginErrorMessage" class="hidden"> Invalid username or password, please try again. </p>
	    			<p id="loginServerError" class="hidden"> Failed to contact the server, please try again later. </p>
	    			<button type="button" class="btn btn-default" onclick="loginAttempt()">Login</button>
	    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
			</div>
		</div>
	</div>

	<div id="wrapper">

		<div id = "header">
			<h1> Welcome to the <a id = "homelink" href = "/home/">anarXiv </a>: allowing for easier communication amongst academics.</h1>
			<div id = "userNotLoggedIn"
				{% if user.is_authenticated %}
					class="hidden hangright"
				{% else %}
					class="hangright"
				{% endif %} >
				<a href="#" data-toggle="modal" data-target="#loginModal"> Login </a>
			</div>
			<div id = "userLoggedIn"
				{% if not user.is_authenticated %}
					class="hidden hangright"
				{% else %}
					class="hangright"
				{% endif %} >
				<p> Hello <span id="userNameField">{{user.username}}</span>! <a href="#" onclick="logout()">Logout</a> </p>
				<p class="hidden" id="logoutErrorMessage"> Logout failed, try again. </p>
			</div>
		</div>

		{% block content %}
		{% endblock %}


		<script type = "text/javascript">
			{% block script %}
			{% endblock %}
		</script>

	</div>

	<div id = "footer">
		This is in no way associated with the <a id = "homelink" href="http://www.arxiv.org">arXiv</a>.
	</div>

</body>