{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
	Anarxiv
{% endblock %}


{% block content %}
<div id = "content">
	<h4> Get the latest papers: </h4>

		<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sub arXiv region
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			{% for location, name in subAnarxivs.items %}
				<li> <a href="subanarxiv/{{location}}">{{name}}</a>  </li>
			{% endfor %}
		</ul>
		</div>

	<h4> Search the arXiv and inspires: </h4>	

		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="text" id="searchinfo" value="bartrum">
			</div>
			
			<div class="form-group">	
			<select class="form-control">
			    <option value="Inspires">Inspires</option>
			    <option value="arXiv">arXiv</option>
			    <option value="InsparXiv" selected>InsparXiv</option>
			</select>
			</div>

			<div class="form-group">
				<button class="btn btn-primary" type="button" onclick="Search()" id = "searchButton">Search</button>
			</div>
			<div> Summarise the search parameters the search accepts here... at the moment the search accepts firstnames and surnames</div>
		</form>


		<div id= "test"> <br> </div>

		<div id="spinner" class="spinner" style="display:none;">
				<img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading"/>
		</div>

		<center><div id = "searchFail" style ="display:none;"> No results found... </div></center>
		<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</div>
{% endblock %}

{% block script %}

function Search() {
	
	var selectedSearch = $(".form-control option:selected").val();

	$('#searchFail').css("display","none");
	$('#test').html("");

	$("#spinner").css("display", "block");


	var x = document.getElementById("searchinfo").value;

		$.ajax({
 		type: "POST",
   		url: "../home/search/",
   		data: {'info': x, 'search': selectedSearch},
   		datatype: "JSON",

   		success: function(data) {
  			$("#spinner").css("display", "none");

   			var length = data['htmlList'].length;

   			for(var i =0; i < length; i++){
   				$('#test').append(data['htmlList'][i]);  }
    	},

    	error: function(jqXHR, textStatus, errorThrown) {
    		if(jqXHR.status ==500){
    			$("#spinner").css("display", "none");
    			$('#searchFail').css("display","block");
    		}
		}
     });
};

{% endblock %}