<hmtl>
{% load staticfiles %}

<head>
	<title>
		This is the homepage
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>

	<div class="modal fade" tabindex="-1" id="loginModal" role="dialog">
		<div class="modal-dialog">

	    		<!-- Modal content-->
	    		<div class="modal-content">
	    		<div class="modal-header">
	    			<button type="button" class="close" data-dismiss="modal">&times;</button>
	    			<h4 class="modal-title">Login</h4>
	    		</div>
	    		<div class="modal-body">
	    			<p>Please enter your username and password</p>
	    			<form id="loginForm" action method="#">
	    			<input id="loginUser" type="text" placeholder="username">
	    			<input id="loginPassword" type="password">
	    			</form>
	    		</div>
	    		<div class="modal-footer">
	    			<p id="loginErrorMessage" class="hidden"> Invalid username or password, please try again. </p>
	    			<p id="loginServerError" class="hidden"> Failed to contact the server, please try again later. </p>
	    			<button type="button" class="btn btn-default" onclick="loginAttempt()">Login</button>
	    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		</div>
			</div>

		</div>
	</div>

	<div id="wrapper">

		<div id = "header">
			<h1> Welcome to the <a id = "homelink" href = "/home/">ANARXIV </a>: The place where you can call academics out.</h1>
			<div id = "userNotLoggedIn"
				{% if user.is_authenticated %}
					class="hidden hangright"
				{% else %}
					class="hangright"
				{% endif %} >
				<a href="#" data-toggle="modal" data-target="#loginModal"> Login </a>
			</div>
			<div id = "userLoggedIn"
				{% if not user.is_authenticated %}
					class="hidden hangright"
				{% else %}
					class="hangright"
				{% endif %} >
				<p> Hello <span id="userNameField">{{user.username}}</span>, <a href="/logout/">logout</a> </p>
			</div>
		</div>

		<div id = "content">
			<h2> Physics </h2>
				<ul>
					{% for location, name in subAnarxivs.items %}
						<li> <a href="subanarxiv/{{location}}">{{name}}</a>  </li>
					{% endfor %}
				</ul>

			<input type="text" id="surname" value="bartrum">
			<button type="button" onclick="searchButtonClicked()" id = "searchButton">Search</button>

			<div id= "test"> <br> </div>

			<div id="spinner" class="spinner" style="display:none;">
    				<img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading"/>
			</div>

			<center><div id = "searchFail" style ="display:none;"> No results found... </div></center>
			<script type="text/javascript" src="{% static 'js/home.js' %}"></script>

			 <script type = "text/javascript">

				function searchButtonClicked() {
					$('#searchFail').css("display","none");
					$('#test').html("");

					$("#spinner").css("display", "block");

					var x = document.getElementById("surname").value;
		 			$.ajax({
		         		type: "POST",
		           		url: "../home/search/",
		           		data: {'info': x},
		           		datatype: "JSON",

		           		success: function(data) {
		          			$("#spinner").css("display", "none");

		           			var length = data['htmlList'].length;

		           			for(var i =0; i < length; i++){
		           				$('#test').append(data['htmlList'][i]);  }
			        	},

			        	error: function(jqXHR, textStatus, errorThrown) {
			        		if(jqXHR.status ==500){
			        			$("#spinner").css("display", "none");
			        			$('#searchFail').css("display","block");
			        		}
						}

			         	});

					};

				{% if not user.is_authenticated %}
					var user = null;
				{% else %}
					var user="{{user.username}}";
				{% endif %}

				function renderLoggedInView(){
					if (user) {
						$("#userLoggedIn").removeClass("hidden");
						$("#userNotLoggedIn").addClass("hidden");
						document.getElementById("userNameField").innerHTML=user;
					} else {
						$("#userLoggedIn").addClass("hidden");
						$("#userNotLoggedIn").removeClass("hidden");
					}
				};

				function loginAttempt(){
					var loginUser = document.getElementById("loginUser").value;
					var loginPassword = document.getElementById("loginPassword").value;
					$.ajax({
						type: "POST",
						url: "login/",
						data: {"user" : loginUser, "password" : loginPassword}, 
						datatype: "JSON",

						success: function(data) {
							if (data["loginError"]) {
								$("#loginErrorMessage").removeClass("hidden");
							} else {
								user = data["username"];
								renderLoggedInView();
								$("#loginModal").modal("hide");
							}
						},

						error: function(jqXHR, textStatus, errorThrown) {
							$("#loginServerError").removeClass("hidden");
						}
					});
				};

			</script>

			</div>

			<div id = "footer">
				This is in no way associated with the arxiv.....
			</div>
		</div>
</body>

</html>