{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
	Anarxiv
{% endblock %}

{% block content %}
<div id = "content">
	<h2> Physics </h2>
		<ul>
			{% for location, name in subAnarxivs.items %}
				<li> <a href="subanarxiv/{{location}}">{{name}}</a>  </li>
			{% endfor %}
		</ul>

	<input type="text" id="surname" value="bartrum">
	<button type="button" onclick="searchButtonClicked()" id = "searchButton">Search</button>

	<div id= "test"> <br> </div>

	<div id="spinner" class="spinner" style="display:none;">
			<img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading"/>
	</div>

	<center><div id = "searchFail" style ="display:none;"> No results found... </div></center>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</div>
{% endblock %}

{% block script %}
function searchButtonClicked() {
	$('#searchFail').css("display","none");
	$('#test').html("");

	$("#spinner").css("display", "block");

	var x = document.getElementById("surname").value;
		$.ajax({
 		type: "POST",
   		url: "../home/search/",
   		data: {'info': x},
   		datatype: "JSON",

   		success: function(data) {
  			$("#spinner").css("display", "none");

   			var length = data['htmlList'].length;

   			for(var i =0; i < length; i++){
   				$('#test').append(data['htmlList'][i]);  }
    	},

    	error: function(jqXHR, textStatus, errorThrown) {
    		if(jqXHR.status ==500){
    			$("#spinner").css("display", "none");
    			$('#searchFail').css("display","block");
    		}
		}
     });
};
{% endblock %}