<div class="message">

<div id = "messagecontainer">
	<div id = "messagestats"> <span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span>
		<div id = "upvotes"> {{ upvotes }} </div>
	</div>

	<div id="message_comment">
		 <div id = "message">
		 	{{ message  }}
		 </div>

		<div id="messageoptions">
			<span class = "message_poster"> {{ user }} </span>
			<span class = "message_time">{{ time }}</span> 
			<span class = "messagecomment" id = "{{ number }}" onclick = "commentBox(this.id)"> comments (<span class = "comment_number" id = "{{number}}"></span>) </span>   
			{% if user.is_authenticated %}
			<span class = "edit"> edit </span> 
			{% else %}
			<span class = "edit"> report </span> 
			{% endif %}
		</div>
	
	</div>


	</div>

	<div class = "collapsethis" id = "{{ number }}" style = "display:none;" >
	
	<div class = "insertcomments" id = "{{ number }}"></div>

	<button class="btn btn-primary toggleCommentForm" type="button" id = "{{number}}" onclick="toggleCommentBox(this.id)">add a comment</button>
	<button class="btn btn-danger closecomments" type="button" id = "{{number}}" onclick="hideComments(this.id)">hide</button>


	<div class = "commentForm" id = "{{ number }}" style = "display:none;">
			
			<textarea rows="4" cols="100" class="commentBox" id = "{{ number }}" placeholder="Type a comment here: " ></textarea> <br>
			<button class="btn btn-primary commentbutton" type="button" onclick="commentSubmitted(this.id)" id = "{{number }}" >Submit</button>
			
			<div class="commentwarning" id = "{{ number }}" > </div>
	
	</div>

</div>

</div>	
	


<br>