{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

	<div id = "content">
		<h2> {{ title }} </h2>
		
		<div id = "Authors">
		<h3 id = "ExtendAuthors"> {{ shortList }} </h3>
		<h3 id = "test" style="display:none;"> {{ authors }} </h3>
		<h3> {{ journal_ref }} </h3>
		</div>
		
		<a href= "https://inspirehep.net/record/{{ paperID }}"><h4> Inspires link </h4> </a>
		<div> {{ abstract }} <div>
		
		
		<textarea rows="4" cols="50"id="messageBox"> Type a message here! </textarea> <br>
		<button type="button" onclick="messageSubmitted()" id = "searchButton">Submit</button>

		<div id = "messageApend"> </div>
	</div>	
{% endblock %}


{% block script %}

			var x = 2;
			$("#Authors").click( function(){
		
				if(x%2==0){
    				$("#test").css("display", "block");
    				$("#ExtendAuthors").css("display", "none");
    				x+=1
    			}
    			else{
    				$("#test").css("display", "none");
    				$("#ExtendAuthors").css("display", "block");
    				x+=1;

    			}
    			});





		$(document).ready(


			$.ajax({
		         	type: "POST",
		           	url: "../messagerequest/",
		           	data: {'id': {{ paperID|default_if_none:0}}, 'arxivno': {{ arxivno|default_if_none:0 }}},
		           	datatype: "JSON",

		           	success: function(data){	
		           	console.log("hi");


		           		var length = data['messageHTML'].length;
		           		
		           		for(var i =0; i < length; i++){
		           			$('#messageApend').append(data['messageHTML'][i])
		       
		           	}
		           }

		           	})

			);




				function messageSubmitted() {

					var message = document.getElementById("messageBox").value;

		 			$.ajax({
		         	type: "POST",
		           	url: "../messagesubmission/",
		           	data: {'message':message, 'id': {{ paperID|default_if_none:0}}, 'arxivno': {{ arxivno|default_if_none:0 }}},
		           	datatype: "JSON",


		           	success: function(data) {
		           		console.log("hi");
		          
	           			$('#messageApend').append(data['messageHTML']);

			            }
			         	
			         	});

					};


{% endblock %}
