{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}


{% block content %}

	

	<div id = "paperdetails">
		<h2 id = "paper_title"> {{ title }} </h2>
				<div id = "paper_authors">

				{% if authorlist|length > 10 %}
					<div id = "shortlist">
						<a href = "/home/author/{{ authorlist.0.firstName}}+{{ authorlist.0.secondName }}/" > {{ authorlist.0.firstName}} {{ authorlist.0.secondName}} </a> <span id = "etal"> et al.</span>
					</div>
					<div id = "fulllist" style="display:none;">
						{% for author in authorlist %}
						<a href = "/home/author/{{ author.firstName}}+{{ author.secondName }}/">  {{ author.firstName}}   {{ author.secondName }}  </a>
						{% endfor %}
					</div>	

				{% else %}		
					{% for author in authorlist %}
						<a href = "/home/author/{{ author.firstName}}+{{ author.secondName }}/">  {{ author.firstName}}   {{ author.secondName }}  </a>
					{% endfor %}
				{% endif %}	

				</div>
				



				<h3 id = "paper_journalref"> {{ journal_ref|default_if_none:"" }} </h3>
				
				{% if paperID %}
					<a href= "https://inspirehep.net/record/{{ paperID }}" id = "inspiresLink"><p> Inspires: {{paperID}} </p> </a>
				{% endif %}
				
				{% if arxivno %}
					<a href= "http://arxiv.org/abs/{{ arxivno }}" id="paper_arXivLink"><p> arXiv: {{arxivno}} </p> </a>
				{% endif %}


				<div id = "paper_abstract"> {{ abstract }} </div>
				
			

				<div id = "messageApend"> </div>

				{% if user.is_authenticated %}
					<button class="btn btn-primary" type="button" id = "toggleMessageBox" onclick="toggleMessageBox()">Add A Message</button>
				{% else %}
					<div class="alert alert-danger fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Hang on!</strong> Please log in to post a message.</div>
				{% endif %}		

				<div id ="messageSubmissionForm" style="display:none;">
					<textarea rows="4" cols="100" id="messageBox" placeholder="Type a message here: " >Type a message here!</textarea> <br>
					<button class="btn btn-primary"type="button" onclick="messageSubmitted()" id = "searchButton">Submit</button>
					
				<div id="messagewarning"></div>

				</div>
	</div>


			<div id = "pdfview" >
					{% if paper.pdflink != "NOLINK" %}
						<iframe src= "{{ pdflink }}" id = "pdfframe"> </iframe>
					{% else %}	
						<p> NO PDF AVAILABLE </p>
					{% endif %}	

			
			</div>
		





<div class="modal fade" tabindex="-1" role="dialog" id = "commentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





{% endblock %}


{% block script %}


var x = 2;

$("#etal").click( function(){

	if(x%2==0){
		$("#fulllist").css("display", "block");
		$("#shortlist").css("display", "none");
		x+=1
	}
	else{
		$("#fullist").css("display", "none");
		$("#shortlist").css("display", "block");
		x+=1;

	}
	});



function toggleMessageBox(){
	$('#messageSubmissionForm').toggle('slow');	

};

function toggleCommentBox(id){
	$('#' + id + ".commentForm").slideDown('slow');
}


$(document).ready(

	$.ajax({
         	type: "POST",
           	url: "../messagerequest/",
           	data: {'id': '{{ paperID|default_if_none:0}}', 'arxivno': '{{ arxivno|default_if_none:0 }}' },
           	datatype: "JSON",

           	success: function(data){	


           		var length = data['messageHTML'].length;
           		
           		for(var i =0; i < length; i++){
           			$('#messageApend').append(data['messageHTML'][i]['post'])

           			ID = data['messageHTML'][i]['id'];

           			$("#" + ID + ".comment_number").append(data['messageHTML'][i]['comments'].length)

           			for(var j=0; j< data['messageHTML'][i]['comments'].length; j++){

           				$("#" + ID + ".insertcomments").append( data['messageHTML'][i]['comments'][j]);
           			}
       
           		}
          	 }

           	})

	);




function messageSubmitted() {


	var message = document.getElementById("messageBox").value;

	if(message == "" || message == "Type a message here!"){
		
		$('#messagewarning').html("");
	
		$('#messagewarning').append("<div class=\"alert alert-danger fade in\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a><strong>Hang on!</strong> Please enter a message into the box provided.</div>");

	}

	else{

		$.ajax({
 			type: "POST",
			url: "../messagesubmission/",
		   	data: {'message':message, 'id': '{{ paperID|default_if_none:0}}', 'arxivno': '{{ arxivno|default_if_none:0 }}' },
		   	datatype: "JSON",


   			success: function(data) {

   				$('#messagewarning').html("");
 
  				$('#messageApend').append(data['messageHTML']);
				document.getElementById("messageBox").value="";

				$("#" + data['message_number'] + ".comment_number").append("0");

        	}
     	
     		})
     	}
	};


function commentBox(id){

	$("#" + id + ".collapsethis").slideDown('slow');
	$('.commentwarning').html("");
	$("#" + id + ".commentBox").val('');

}

function hideComments(id){

	$("#" + id + ".collapsethis").slideUp('slow');
	$('.commentwarning').html("");
	$("#" + id + ".commentBox").val('');
	$('#' + id + ".commentForm").css("display","none");

}




function commentSubmitted(messageid){
	

	var comment = $("#" + messageid + ".commentBox").val();

	if(comment == "" || comment == "Type a message here!"){
		
		$('.commentwarning').html("");
	
		$('#' + messageid + '.commentwarning').append("<div class=\"alert alert-danger fade in\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a><strong>Hang on!</strong> Please enter a message into the box provided.</div>");

	}

	else{

		$.ajax({
		 	type: "POST",
		   	url: "../commentsubmission/",
		   	data: {'comment':comment, 'messageid': messageid, 'id': '{{ paperID|default_if_none:0}}', 'arxivno': '{{ arxivno|default_if_none:0 }}'},
		   	datatype: "JSON",


		   	success: function(data) {
		 
					$("#" + messageid + ".insertcomments").append(data['messageHTML']);
					$("#" + messageid + ".commentBox").html("");

					$("#" + messageid + ".comment_number").html("");
					$("#" + messageid + ".comment_number").append(data['num_comments']);
					
					

		        }
		     	
		    })
		 }



};




{% endblock %}
