{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
	Anarxiv
{% endblock %}

{% block content %}
	<h1> {{ SECTION  }} </h1>
	<button type="button" class="btn btn-default" id = "{{ DATE.0 }}" onclick="getRecent(this.id)"> {{ DATE.0 }}</button>
	<button type="button" class="btn btn-default" id = "{{ DATE.1 }}" onclick="getRecent(this.id)"> {{ DATE.1 }}</button>
	<button type="button" class="btn btn-default" id = "{{ DATE.2 }}" onclick="getRecent(this.id)"> {{ DATE.2 }}</button>
	<button type="button" class="btn btn-default" id = "{{ DATE.3 }}" onclick="getRecent(this.id)"> {{ DATE.3 }}</button>
	<button type="button" class="btn btn-default" id = "{{ DATE.4 }}" onclick="getRecent(this.id)"> {{ DATE.4 }}</button>

	<div id= "test2"> <br> </div>
	<div id="spinner" class="spinner" style="display:block;">
		<img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading"/>
	</div>

	<center><div id = "searchFail" style ="display:none;"> No results for this day... </div></center>


{% endblock %}

{% block script %}

	$(document).ready(

		$.ajax({
	         	type: "POST",
	           	url: "../new/",
	           	data: {'sub_anarxiv': '{{ ABREV }}', 'date': '{{ DATE.0 }}'},
	           	datatype: "JSON",

	           	success: function(data){	
	           		$("#spinner").css("display", "none");
	           		var length = data['htmlList'].length;
	           		for(var i = 0; i< length; i++){
	           			$('#test2').append(data['htmlList'][i]); } 
	           		
		        	}
	       }
	           	
	));


function getRecent(date) {
	$('#searchFail').css("display","none");
	$('#test2').html("");

	$("#spinner").css("display", "block");

		$.ajax({
 			type: "POST",
           	url: "../new/",
           	data: {'sub_anarxiv': '{{ ABREV }}', 'date': date },
           	datatype: "JSON",

   		success: function(data) {
  			$("#spinner").css("display", "none");
   			var length = data['htmlList'].length;
   			if(length==0){
   				$('#searchFail').css("display","block");
   			}

   			for(var i =0; i < length; i++){
   				$('#test2').append(data['htmlList'][i]);  }
    	},

    	error: function(jqXHR, textStatus, errorThrown) {
    		if(jqXHR.status ==500){
    			$("#spinner").css("display", "none");
    			$('#searchFail').css("display","block");
    		}
		}
     });
};

{% endblock %}