{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
	Anarxiv
{% endblock %}

{% block content %}
	<h1> {{ SECTION  }} </h1>

	{% for x in Dates %}
		<button type="button" class="btn btn-default" id = "{{ x.Date }}" onclick="getRecent(this.id)"> {{ x.DayName }} </br> ( {{x.Date}} ) </button>
	{% endfor %}

	<h6> Search for results from a specific date </h6>
	<input type="text" id="searchdate">
	<button class="btn btn-primary" type="button" onclick="search()" id = "searchButton">Search</button>

	<div id = "Results">
	<h2> New </h2>

	<div id= "New"> <br> </div>
	<div id="spinner" class="spinner" style="display:block;">
		<img id="img-spinner" src="{% static 'images/spinner.gif' %}" alt="Loading"/>
	</div>

	<center><div id = "newFail" style ="display:none;"> No new results for this day... </div></center>


	<h2> Replacements </h2>

	<div id= "Replacements"> <br> </div>

	<center><div id = "replacementFail" style ="display:none;"> No replacements for this day... </div></center>

	</div>


{% endblock %}

{% block script %}

	$(document).ready(

		$.ajax({
	         	type: "POST",
	           	url: "../new/",
	           	data: {'sub_anarxiv': '{{ ABREV }}', 'date': '{{ DATE.0 }}'},
	           	datatype: "JSON",

	           	success: function(data){	
	           		$("#spinner").css("display", "none");
	           		var nlength = data['newList'].length;
	           		var rlength = data['replacementList'].length;

	           		if(nlength == 0){
	           			$("#newFail").css("display","block")
	           		}
	           		if(rlength == 0){
	           			$("#replacementFail").css("display","block")
	           		}

	           		
	           		for(var i = 0; i< nlength; i++){
	           				$('#New').append(data['newList'][i])
	           				}

	           		for(var i = 0; i< rlength; i++){
	           				$('#Replacements').append(data['replacementList'][i])  
	           				}		

	           		
	           	}
	     }
	           	
	));


function getRecent(date) {

	$('#newFail').css("display","none");
	$('#replacementFail').css("display","none")

	$('#New').html("");
	$('#Replacements').html("");

	$("#spinner").css("display", "block");

		$.ajax({
	 			type: "POST",
	           	url: "../new/",
	           	data: {'sub_anarxiv': '{{ ABREV }}', 'date': date },
	           	datatype: "JSON",

   			success: function(data) {
	  			
	  			$("#spinner").css("display", "none");

	   			var nlength = data['newList'].length;
	   			var rlength = data['replacementList'].length;

	   			if(nlength == 0){
	           		$("#newFail").css("display","block")
	           	}
	           	if(rlength == 0){
	           		$("#replacementFail").css("display","block")
	          	}


	   			for(var i = 0; i< nlength; i++){
	           		$('#New').append(data['newList'][i])
	         	}

	         	for(var i = 0; i< rlength; i++){
       				$('#Replacements').append(data['replacementList'][i])  
   				}	

	        },


    		error: function(jqXHR, textStatus, errorThrown) {
    			if(jqXHR.status ==500){
    				$("#spinner").css("display", "none");
    				$('#searchFail').css("display","block");
    		}
		
		}
     });
};



function search() {

	$('#newFail').css("display","none");
	$('#replacementFail').css("display","none")

	$('#New').html("");
	$('#Replacements').html("");

	$("#spinner").css("display", "block");

	var x = document.getElementById("searchdate").value;
	
	$.ajax({
 		type: "POST",
   		url: "../search/",
   		data: {'date': x, 'sub_anarxiv': '{{ ABREV }}'},
   		datatype: "JSON",

   		success: function(data) {
   			
  			$("#spinner").css("display", "none");

			var nlength = data['newList'].length;
   			var rlength = data['replacementList'].length;

   			for(var i = 0; i< nlength; i++){
           		$('#New').append(data['newList'][i])
         	}

         	for(var i = 0; i< rlength; i++){
   				$('#Replacements').append(data['replacementList'][i])  
			}	

    	},

    	error: function(jqXHR, textStatus, errorThrown) {
    		if(jqXHR.status ==500){
    			$("#spinner").css("display", "none");
    			$('#searchFail').css("display","block");
    		}
		}
     });
};

{% endblock %}