/* GLOBAL CLASS STYLINGS*/

html,
body {
    margin:0;
    padding:0;
    background-color: rgb(255,255,255);
    height:100%;
    font-family: arial, Helvetica, verdana,  'Lucida Grande', arial, verdana, sans-serif;
}

p { 
    margin:0 
}


/*Wrapper stylings*/

#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    padding-top: 70px;
    padding-left: 250px;
    padding-bottom:50px; 
    position:relative;
    height: 100%-190px;
}

#navbar{
    background-color: #B71427;
    border: none;
}

#usernamefield{
    color: white;
    font-size: 18;
    font-weight: bold;
}

#websitetitle{
    color:white;
    font-weight: bold;
    font-size: 25;
}


#homelink{
    text-decoration:none;
    color: white;

}


#userdropdown{
    background-color: rgba(1,1,0,0);
}

#userdropdown:hover{
    background-color: rgb(51,153,255) !important;
}

#userdropdown:focus{
   background-color: rgb(51,153,255) !important;
}

#userdropdown #usernamefield{
    font-size: 14;
    background-color: rgba(0,0,0,0)
}


.menuitem{
    padding-bottom: 3px;
    padding-top: 3px;
}



/* Login Modal:*/


.modal-header{
  background-color: rgba(0,0,200,0.5);
  color:white !important;
  text-align: center;
  font-size: 40px;
}


.modal-footer {
  background-color: #f9f9f9;
}



.alert-inForm {
   padding: 6px 15px;
   height: 34px;
}


/* make side nav vertical */ 

.side-nav {
    position: fixed;
    color: white !important;
    top: 50px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    overflow-y: auto;
    background-color: #B71427;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-size: 18;
    font-weight: bold;
}

#sidebar_welcome{
   margin-top: 30px;
   padding: 30px;
   font-size: 18;
}

#item{
    text-decoration: none;
    color: white;
}
#subitem{
    text-decoration: none;
    color: white;
    font-size: 16;

}
.side-nav>li>a {
    width: 225px;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: rgb(51,153,255) !important;
}


.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: white;
}

