html,
body {
    margin:0;
    padding:0;
    background-color: rgb(255,255,255));
    height:100%;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
}

p { 
    margin:0 
}


#paperlink {
      text-decoration:none;
}

#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
    background-color: #b31b1b;
    font-weight: bold;
    color: rgb(255,255,255);
    height: 80px;
}

.hidden { display: none; }

#header h1 {
    padding-top: 2px;
    margin-left: 30px; 
    float: left;
}

.hangright {
    float: right; 
    margin-right: 30px; 
    height: 40px; 
    padding-top: 35px;
}

#content {
    padding-left: 10px;
    padding-bottom:50px; 
}
#footer {
    background-color: #b31b1b;
    width:100%;
    height:20px;
    position:absolute;
    bottom:0;
    left:0;
    padding:5px;
    font-weight: bold;
    color: rgb(255,255,255);
}



#searchButton{
    margin:3px;
    padding:2px;

 }

#surname{
    margin:3px;
    padding:2px;
}

#test{
    overflow:scroll;
    max-height :450px;
}

#test2{
    overflow:scroll;
    max-height :700px;
}

#abstractView{
    background-color: #b31b1b;
    color: rgb(0,0,255);
}


/* CSS styling for the search results*/
.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}


#result{
    color:rgb(0,0,0);
    margin:3px;

}

#result:hover { 
    background-color: rgba(0,0,255,0.1);
}

#title{
    font-weight: bold;
 }
#homelink{
    text-decoration:none;
    color: white;

}

#message_time{
    font-size: 11;
    position: relative;
    top:2px;
}

.spinner{
    position:relative;
    left:50%;
    top:100px;

}

#searchFail {
    position:relative;
    top:100px;
}



