#paperdetails{
    float:left;
    width: 50%;
    padding-right: 20px;
    overflow:scroll;
    max-height :1200px;
}   



#paper_abstract{
      text-align: justify;
      text-justify: inter-word;
}

#paper_arXivLink{
    margin-bottom: 10px;
}




/*THE PDF VIEW BOX*/
#pdfview{
    float:right;
    width:50%;
    height:85%;

}

#pdfframe{
    width:100%;
    height: 100%;
}


#messageBox{
    margin-top:20px;
    border-radius: 5px;
    padding:5px;
}




/*.message{
	background-color: rgba(0,0,255,0.3);
	border-width:3px;
	border-color:rgb(255,255,255);
	padding:8px;


}


#messageApend {

	position: relative;
	top:50px;
    overflow:scroll;
    max-height :470px;
}



#searchbutton{
	position:relative;
	border-radius: 10px;
	padding: 5px;
	top:20px;
	box-shadow: none;
	font-weight: bold;
	border-color: rgba(0,0,200,0.4);
	background-color: rgba(0,0,200,0.4);


}

*/