.message{
	background-color: rgba(0,0,255,0.3);
	border-width:3px;
	border-color:rgb(255,255,255);
	padding:8px;


}


#messageApend {

	position: relative;
	top:50px;
    overflow:scroll;
    max-height :470px;
}

#messageBox {
	position: relative;
	font-size: 12;
	top: 20px;
	height: 100px;
	width: 400px;
	border-width: 2px;

}

#searchbutton{
	position:relative;
	border-radius: 10px;
	padding: 5px;
	top:20px;
	box-shadow: none;
	font-weight: bold;
	border-color: rgba(0,0,200,0.4);
	background-color: rgba(0,0,200,0.4);


}

